<div class="card" style="width: 50%;">
    <div class="card-body">
        <h5 class="card-title">Ts Node!</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat facere libero minus consequatur
            iure blanditiis, nobis quos reiciendis cupiditate soluta.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus doloribus a commodi earum aperiam
            alias obcaecati maiores ducimus rem, nesciunt sint voluptatum, quisquam autem vitae, quas cupiditate. Sequi
            dolorem ipsam natus nisi facilis quo officiis temporibus voluptates, atque blanditiis quam enim ut ipsum
            ipsa deleniti odit nesciunt placeat. Voluptas?</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>