{{#if books}}
<h1>Books</h1>
{{#each books}}
<div class="col-md-4">
    <div class="card card-body">
        <h3>{{this.title}}</h3>
        <p>Author: {{this.author}}</p>
        <p>ISBN: {{this.isbn}}</p>
    </div>
</div>
{{/each }}
{{/if}}